.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: #3f51b5;
}

.newformStyle {
  margin-left: 1%;
  width: 21%;
  text-align: center;
  border: 2px solid #3f51b5;
  border-radius: 8px;
  margin-top: 15px;
}

.newformTitleStyle {
  background-color: #3f51b5;
  color: #abb9e1;
  height: 30px;
  border-radius: 4px;
}
